<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- ACTION 1: Rail and Container Validator -->
        <record id="action_rail_validator" model="ir.actions.act_window">
            <field name="name">Rail and Container Validator</field>
            <field name="res_model">rail.consignment.validator</field>
            <field name="view_mode">form</field>
            <field name="target">current</field>
        </record>

        <!-- ACTION 2: Company Codes (RICS) -->
        <record id="action_rail_company_codes" model="ir.actions.act_window">
            <field name="name">Company Codes (RICS)</field>
            <field name="res_model">rail.company.code</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <!-- ROOT APP -->
        <menuitem id="menu_rail_root"
                  name="Rail Tools"
                  sequence="10"/>

        <!-- TAB 1 -->
        <menuitem id="menu_rail_validator"
                  name="Rail and Container Validator"
                  parent="menu_rail_root"
                  action="action_rail_validator"
                  sequence="10"/>

        <!-- TAB 2 -->
        <menuitem id="menu_rail_company_codes"
                  name="Company Codes (RICS)"
                  parent="menu_rail_root"
                  action="action_rail_company_codes"
                  sequence="20"/>

    </data>
</odoo>
